<div style="padding-top:50px;">
<div class="container">
	<form id="formRegistro" class="form-signin">
		  <h2 class="form-signin-heading">Registro</h2>
		  <label for="nombre" class="sr-only">Nombres</label>
		  <input type="text" id="nombre" ng-model="usuario.nombre" class="form-control" placeholder="Nombre" required="" autofocus="">
		  <label for="username" class="sr-only">Usuario</label>
		  <input type="text" id="username" ng-model="usuario.username" class="form-control" placeholder="Usuario" required="" autofocus="">
		  <label for="pwd" class="sr-only">Clave</label>
		  <input type="password"  id="pwd" ng-model="usuario.clave" class="form-control" placeholder="Clave" required="">
		  <input type="text" id="fotoPerfil" style="display:none" ng-model="usuario.fotoPerfil">
		  <label for="email" class="sr-only">Email</label>
		  <input type="email" id="email" ng-model="usuario.email" class="form-control" placeholder="Email address" required="" autofocus="">
		  
		  <br />
		  <label class="form-control" >Seleccione un avatar.</label>
		  <div class="row">
			  <div id="avatar1" class="col-xs-6 col-md-6">
			    <a href="javascript:;" class="thumbnail" onclick="avatar1();">
			      <img src="img/avatars/avatar1.jpg" style="margin:auto; height: 50px; width: 50px">
			    </a>
			  </div>
			  <div id="avatar2" class="col-xs-6 col-md-6">
			    <a href="javascript:;" class="thumbnail" onclick="avatar2();">
			      <img src="img/avatars/avatar2.jpg" style="margin:auto; height: 50px; width: 50px">
			    </a>
			  </div>
			    <a id="btnCambiarAvatar" href="javascript:;" class="btn btn-small" style="display:none" onclick="btnCambiarAvatar();">
			      Cambiar
			      </a>
			</div>
		  <div id="panelError" style="color:red" ></div>
		  <div class="text-center">
		  	<button class="btn btn-primary" type="submit" ng-click="registrarUsuario()">Guardar</button>
		  	<a href="#/" class="btn btn-primary" onclick="$('#formLogin').show()">Cancelar</a>
		  </div>
	</form>
	<div id="panelExito" style="display:none" class="jumbotron text-center">
		<h3>El registro se llevo a cabo correctamente</h3>
		<a href="#/" class="btn btn-md btn-primary"  onclick="$('#formLogin').show();">Continuar</a>
	</div>
</div>

</div>